
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  background-image: url('/images/wallpaper/banner03.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -65px
}

.banner-text {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 2px 2px #000;
}

.banner-input {
  width: 330px;
  height: 33px;;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/* functionalities */
.functionality {
  background-color: #f8f8f8;
  position: relative;
  display: flex;
  justify-content: center;
  height: 580px;
}

.functionality-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -30px;
  box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.100), -1px 2px 10px rgba(0, 0, 0, 0.100);
  border-radius: 20px;
}

.functionality-list .functionality-list-item:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.functionality-list .functionality-list-item:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.functionality-list-item {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 350px;
  background-color: #fff;
}

.functionality-list-item > .card-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.functionality-list .functionality-list-item:nth-child(1) > .card-image {
  background-image: url('/images/icons/dish.png');
}
.functionality-list .functionality-list-item:nth-child(2) > .card-image {
  background-image: url('/images/icons/serving-dish.png');
}
.functionality-list .functionality-list-item:nth-child(3) > .card-image {
  background-image: url('/images/icons/pizza.png');
}


.functionality-list-item > .card-title {
  margin-bottom: 10px;
}

.functionality-list-item > .card-text {
  color: rgba(132,137,145,1)
}

/* categories */
.categories {
  padding: 40px 0;
}

.categories-title {
  text-align: center;
  margin-bottom: 25px;
}

.categories-list {
  display: flex;
  flex-direction: column;
}

.categories-list-item {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .banner {
    height: 360px
  }

  .banner-input {
    width: 390px;
    height: 35px;;
  }

  .functionality-list-item {
    padding: 25px 30px;
    width: 470px;
  }
}

@media (min-width: 768px) {
  /* Banner */
  .banner {
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner-input {
    width: 470px;
    height: 40px;;
  }

  /*funcionalities*/

  .functionality {
    height: 280px;
  }

  .functionality-list  {
    flex-direction: row;
    margin: 0 10px;
    border-bottom-left-radius: 20px;
  }

  .functionality-list-item {
    width: 33.3333%;
    padding: 40px 30px;
  }

  .functionality-list .functionality-list-item:first-child {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }

  .functionality-list,
  .functionality-list .functionality-list-item:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  /*categories*/
  .categories-title {
    font-size: 30px;
  }

  .categories-list {
    margin: 40px 0;
    flex-direction: row;
    justify-content: space-around;
  }

}

@media (min-width: 992px) {
  .banner {
    height: 550px;
  }

  .banner-text > h3 {
    font-size: 35px;
  }
}

@media (min-width: 1200px) {

}