.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.admin-header {
  text-align: center;
}

.admin-addRestaurant {
  margin: 20px 0;
}

.admin-addRestaurant > button{
  background-color: #0b8b40;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.admin-restaurantList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.admin-restaurantList > .restaurant-admin {
  margin-bottom: 20px;
  width: 350px;
}

.admin-paginate {
  margin: 20px 0;
}

@media (min-width: 576px) {
  .admin-restaurantList > .restaurant-admin {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .admin-restaurantList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}